body {
    background:linear-gradient(100deg, purple, darkblue);
    font-family: 'Roboto', sans-serif;
}

.full {
    display: grid;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-top: 25vh;
    color: white;
    font-size: 21px;
}

.search {
    padding: 1.8vh;
    width: 320px;
    margin-top: 5vh;
    border-radius: 5px;
}

.option_area {
    width: 380px;
    justify-content: center;
    margin:  0 auto;
     margin-top: 4vh;
    padding: 1vh;
}

.weathers_area {
    margin-top: 9vh;
    margin-right: 4vh;
}

.img {
    margin-left: 5vh;
}

